@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blog</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in ante consectetur, efficitur elit consequat, laoreet purus. Etiam aliquam metus ipsum, sed congue dui condimentum non. Aliquam id semper lectus. Quisque eu tortor eu nibh volutpat interdum. Quisque cursus justo in turpis pulvinar consequat. Nullam scelerisque leo ac urna venenatis ullamcorper. Etiam a felis feugiat dolor lacinia congue. Sed ac viverra diam, ut pharetra felis. Pellentesque varius nibh nulla, sit amet elementum velit malesuada in. Ut cursus ultricies sapien ac facilisis. In sed eleifend mi. Nullam ligula ipsum, sodales id ipsum in, luctus pharetra lectus. Nunc eu vestibulum mauris. Sed sagittis viverra faucibus. Curabitur rhoncus nibh porttitor enim ultrices, et malesuada ex volutpat. Suspendisse turpis nisi, convallis quis urna ut, ultrices volutpat arcu.

Fusce elit purus, lacinia eu ante convallis, rutrum ornare purus. Sed sed metus luctus, malesuada dolor eget, laoreet neque. Sed fringilla diam ut mi vulputate, eget tristique sem porttitor. Suspendisse sollicitudin purus vel lorem luctus, eget volutpat sapien facilisis. In in ipsum cursus, auctor tellus vitae, posuere libero. Pellentesque lacinia lorem eu tellus posuere, eu pretium leo cursus. Cras finibus dolor in lorem egestas, vel consequat lacus fermentum. Nam leo massa, consectetur at odio sit amet, vestibulum auctor augue. In posuere tincidunt ex ac porta. Suspendisse placerat arcu quis ex efficitur iaculis. Duis nec fringilla neque, vitae fermentum eros.</p>
</div>